@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.glide,
.glide__track {
    height: 100%;
    width: 100%;
}

.glide__slides {
    margin: 0;
    height: 100%;
}

.glide__bullets {
    bottom: 1em;
}

.glide__bullet {
    border-color: #474747;
}

.glide__arrow {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1px 0;
}

.glide__arrow--left {
    left: 0.3em;
}

.glide__arrow--right {
    right: 0.3em;
}

.glide--swipeable {
    cursor: default;
}