@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.glide,
.glide__track {
    height: 100%;
    width: 100%;
}

.glide__slides {
    margin: 0;
    height: 100%;
}

.glide__bullets {
    bottom: 1em;
}

.glide__bullet {
    border-color: #474747;
}