$shadow-color: #ffffff42;

.tippy-tooltip.steam-stt-theme {
    text-align: left;
    padding: 6px 6px;
    font: 14px Helvetica, sans-serif;
    color: #eaeaea;
    background: linear-gradient(to bottom, #15324b 0%, #09121a 100%);
    border-radius: 0 !important;
    box-shadow: 2px 2px 8px 1px black;

    .top {
        display: flex;
        flex-direction: row;
        height: 95px;
    }

    .header-img {
        justify-content: left;

        img {
            box-shadow: 1px 1px 1px 1px $shadow-color, 1px -1px 1px 1px $shadow-color, -1px -1px 1px 1px $shadow-color, -1px 1px 1px 1px $shadow-color;
        }
    }

    .top-right {
        justify-content: right;
        padding-left: 8px;
    }

    .name {
        font-size: 17px;
    }

    .price {
        display: inline-block;
        padding: 3px;
        color: black;
        background: #c0ff00;
        border: 1px solid black;
        font-size: 16px;
    }

    .bottom {
        padding-top: 9px;
        overflow-y: auto;
        max-height: 62px;
    }

    .hidden {
        display: none;
    }
}