// glide
@import "carousel.scss";
// tippy
@import "tippy.js/dist/tippy.css";

$shadow-color: #ffffff42;
$slimy-green: #c0ff00;
$whity: #e2e2e2;
$blacky: #1b1b1b;
$img-invert: invert(90%);
$header-img-width: 320px;
$header-img-height: 150px;
$steam-thumbnail-width: 600px;
$steam-thumbnail-height: 337px;
$genres-side-border: 1px solid #9c9c9c;

.tippy-tooltip.steam-sst-theme {
    text-align: left;
    font: 14px Cabin, sans-serif;
    color: $whity;
    background: linear-gradient(to bottom, #15324b 0%, #09121a 100%);
    border-radius: 0 !important;
    box-shadow: 2px 2px 8px 1px black;
    white-space: initial;

    .tippy-content {
        padding: 6px 6px;
    }

    .steam-sst-top {
        display: flex;
        flex-direction: row;
        min-height: $header-img-height;
    }

    .steam-sst-header-img {
        justify-content: left;
        position: relative;
        flex-basis: $header-img-width;
        flex-grow: 0;
        flex-shrink: 0;
        width: $header-img-width;
        height: $header-img-height;
        background: $blacky;
        box-shadow: 1px 1px 1px 1px $shadow-color,
            1px -1px 1px 1px $shadow-color,
            -1px -1px 1px 1px $shadow-color,
            -1px 1px 1px 1px $shadow-color;

        .steam-sst-carousel-img {
            width: 100%;
            height: 100%;
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% auto;
        }

        .steam-sst-metacritic {
            position: absolute;
            bottom: 0;
            right: 0;
            font: 15px bold Arial, Helvetica, sans-serif;
            color: #fff;
            height: 1.9em;
            width: 1.9em;
            text-align: center;
            line-height: 1.9em;
            border-radius: 6px;

            &.steam-sst-positive {
                background: #6c3;
            }

            &.steam-sst-mixed {
                background: #fc3;
            }

            &.steam-sst-negative {
                background: #f00;
            }

            a {
                color: inherit;
                text-decoration: inherit;
            }
        }

        .steam-sst-user-data {
            position: absolute;
            display: flex;
            left: 0;
            top: 10px;
            height: 20px;
            padding: 0 4px;
            box-shadow: 3px 3px 8px 1px #2d2d2d;

            &.steam-sst-owned {
                background: linear-gradient(to bottom, #0072ff 0%, #124398 100%);

                &::before {
                    display: flex;
                    align-items: center;
                    content: "OWNED"
                }
            }

            &.steam-sst-wishlisted {
                background: linear-gradient(to bottom, #00ce36 0%, #00731f 100%);

                &::before {
                    display: flex;
                    align-items: center;
                    content: "WISHLIST"
                }
            }
        }
    }

    .steam-sst-top-right {
        justify-content: right;
        padding-left: 8px;
    }

    .steam-sst-name {
        font: 18px Raleway, sans-serif;
    }

    .steam-sst-additional-info {
        display: flex;
        flex-direction: row;
        margin-top: 2px;
        margin-bottom: 5px;
        font-size: 11px;

        .steam-sst-release-date {
            color: #ffb100;
            margin: auto 0;
        }

        .steam-sst-genres {
            padding: 0 3px;
            margin: auto 3px;
            border-left: $genres-side-border;
            border-right: $genres-side-border;
            color: #6dffe4;
        }

        .steam-sst-platforms {
            display: flex;
            align-items: center;
            filter: invert(30%) sepia(41%) hue-rotate(27deg) saturate(7);
        }
    }

    .steam-sst-tags {
        margin-bottom: 0.3rem;

        .steam-sst-tag {
            padding: 0.1rem 0.2rem;
            border-radius: 0.3rem;
            background: #473f73;
            font-size: 0.7rem;
            margin-right: 0.2rem;
            color: #b383ff;
        }
    }

    .steam-sst-price-reviews-wrapper {
        display: flex;
        flex-direction: row;

        .steam-sst-price-wrapper {
            display: inline-flex;
            flex-direction: row;
            padding: 3px;
            border: 1px solid $slimy-green;

            .steam-sst-discounted-price {
                .final-price {
                    font-size: 18px;
                }

                .steam-sst-initial-price {
                    font-size: 12px;
                    text-decoration: line-through;
                }
            }

            .steam-sst-percent {
                margin: auto 1px auto 4px;
                padding: 2px 3px;
                color: $blacky;
                background: $slimy-green;
                font-size: 25px;
            }
        }

        .steam-sst-price {
            display: inline-block;
            padding: 3px;
            border: 1px solid;
            font-size: 18px;
        }

        .steam-sst-reviews {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 4px;
            border-radius: 4px;
            background: rgba(1, 1, 1, 0.4);
            padding: 3px;

            * {
                margin: 0 2px;
            }
        }
    }

    .steam-sst-categories-wrapper {
        font-family: Helvetica, sans-serif;
        margin-top: 3px;

        .steam-sst-categories {
            display: inline-block;
            padding: 3px 2px 1px 2px;
            background: $whity;
            border-radius: 3px;

            .steam-sst-category {
                display: inherit;
                filter: $img-invert;
            }

            .steam-sst-category-ellipsis {
                display: inherit;
                border-radius: 2px;
                background: $blacky;
                vertical-align: top;
                width: 17px;
                text-align: center;
                font-weight: bold;
                cursor: pointer;

                &::before {
                    content: "\2026";
                }
            }
        }
    }

    .steam-sst-bottom {
        margin-top: 7px;
        overflow-y: auto;
        max-height: 62px;
    }

    .steam-sst-hidden {
        display: none !important;
    }

    .steam-sst-loading {
        width: 12px;
        height: 12px;
        background-color: white;
        margin-left: 5px;
        animation: steam-sst-rotate3d 1.2s infinite ease-in-out;
    }

    .steam-sst-inline {
        display: inline-block;
    }

    .steam-sst-no-margin {
        margin: 0 !important;
    }

    .steam-sst-flex-column {
        flex-direction: column;
    }

    @keyframes steam-sst-rotate3d {
        0% {
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        }

        50% {
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        }

        100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }
}

.tippy-tooltip.steam-sst-categories-theme {
    text-align: left;
    font: 14px Cabin, sans-serif;
    color: $whity;
    background: #131c27;
    border-radius: 0 !important;
    box-shadow: 2px 2px 8px 1px black;

    .tippy-content {
        padding: 6px 6px;
    }

    .steam-sst-categories-list {
        .steam-sst-categories-list-item {
            padding: 2px 10px 4px 2px;

            img {
                vertical-align: middle;
            }

            span {
                vertical-align: middle;
                border-left: 1px solid;
                margin-left: 2px;
                padding-left: 6px;
            }
        }

        .steam-sst-categories-list-item:not(:first-child) {
            margin-top: 1px;
        }
    }
}